<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        
        <!-- Connection -->
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/EMF?autoReconnect=true</property>
        <property name="hibernate.connection.password">emf</property>
        <property name="hibernate.connection.username">emf</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        <!-- Transactions/Cache -->
        <property name="hibernate.transaction.auto_close_session">false</property>
        <property name="hibernate.transaction.flush_before_completion">false</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        
        <!-- c3p0 -->
        <property name="hibernate.c3p0.acquire_increment">2</property> 
		<property name="hibernate.c3p0.idle_test_period">300</property> <!-- seconds --> 
		<property name="hibernate.c3p0.max_size">80</property> 
		<property name="hibernate.c3p0.max_statements">0</property> 
		<property name="hibernate.c3p0.min_size">5</property> 
		<property name="hibernate.c3p0.timeout">3000</property> <!-- seconds -->
		
		<!-- Misc -->        
        <property name="show_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.generate_statistics">false</property>
        <property name="hibernate.jdbc.batch_size">20</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        
		<!-- Mappings : Data Management -->
    	<mapping resource="gov/epa/emissions/framework/services/basic/User.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/basic/XFileFormat.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/basic/FileDownload.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/basic/Status.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/Sector.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/Country.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/DatasetType.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/data/Dataset.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/data/Pollutant.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/data/SourceGroup.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/basic/AccessLog.hbm.xml"/>    	
    	<mapping resource="gov/epa/emissions/framework/services/persistence/EmfProperties.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/data/Keyword.hbm.xml"/>
        <mapping resource="gov/epa/emissions/commons/db/version/Version.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/basic/ExternalSource.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/Region.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/UserFeature.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/Project.hbm.xml"/>
        <mapping resource="gov/epa/emissions/commons/db/intendeduse/IntendedUse.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/Note.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/DatasetsNotes.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/data/NoteType.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/editor/Revision.hbm.xml"/>

		<!-- Mappings : QA Management -->
        <mapping resource="gov/epa/emissions/framework/services/qa/QAStep.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/qa/QAProgram.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/qa/QAStepResult.hbm.xml"/>
        <mapping resource="gov/epa/emissions/framework/services/qa/ProjectionShapeFile.hbm.xml"/>
		
		<!-- Mappings : Case Management -->
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/Abbreviation.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/AirQualityModel.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/CaseCategory.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/EmissionsYear.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/data/GeoRegion.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/data/RegionType.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/MeteorlogicalYear.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/Speciation.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/Case.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/CaseInput.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/InputEnvtVar.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/CaseProgram.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/InputName.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/ModelToRun.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/SubDir.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/jobs/CaseJob.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/jobs/JobMessage.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/jobs/JobRunStatus.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/jobs/Host.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/jobs/Executable.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/jobs/CaseJobKey.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/outputs/CaseOutput.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/outputs/OutputQueue.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/parameters/ParameterEnvVar.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/parameters/ValueType.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/parameters/ParameterName.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/parameters/CaseParameter.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/PersistedWaitTask.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/IntegerHolder.hbm.xml"/>
    	<mapping resource="gov/epa/emissions/framework/services/casemanagement/CasesSens.hbm.xml"/>

		<!-- Mappings : CoST -->
	   	<mapping resource="gov/epa/emissions/framework/services/cost/ControlProgram.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/cost/ControlProgramType.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/cost/ControlStrategy.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/ControlMeasure.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/EquationType.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/EquationTypeVariable.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/LightControlMeasure.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/Scc.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/Reference.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/EfficiencyRecord.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/StrategyType.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/controlStrategy/StrategyResultType.hbm.xml"/>
		<mapping resource="gov/epa/emissions/framework/services/cost/ControlTechnology.hbm.xml"/>
	    <mapping resource="gov/epa/emissions/framework/services/cost/ControlStrategyResult.hbm.xml"/>
	    <mapping resource="gov/epa/emissions/framework/services/cost/ControlMeasureClass.hbm.xml"/>
	    <mapping resource="gov/epa/emissions/framework/services/cost/ControlMeasurePropertyCategory.hbm.xml"/>
	    <mapping resource="gov/epa/emissions/framework/services/cost/ControlStrategyConstraint.hbm.xml"/>

		<!-- Mappings : SMS -->
	   	<mapping resource="gov/epa/emissions/framework/services/sms/SectorScenario.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/sms/SectorScenarioOutput.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/sms/SectorScenarioOutputType.hbm.xml"/>

		<!-- Mappings : Fast -->
	   	<mapping resource="gov/epa/emissions/framework/services/fast/FastDataset.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/fast/FastNonPointDataset.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/fast/Grid.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/fast/FastRun.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/fast/FastRunOutput.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/fast/FastRunOutputType.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/fast/FastAnalysis.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/fast/FastAnalysisOutput.hbm.xml"/>
	   	<mapping resource="gov/epa/emissions/framework/services/fast/FastAnalysisOutputType.hbm.xml"/>
    </session-factory>

</hibernate-configuration>