<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AnalysisEngine/src/gov/epa/mims/analysisengine/table/TableApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gov.epa.mims.analysisengine.table.TableApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-fileNames &quot;http://localhost:8080/exports/emf/asADSDSAFSAF.csv&quot; -fileType CSV"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AnalysisEngine"/>
</launchConfiguration>
